############################################
# Copyright (c) 2022 
# 
#  License

### Personal ###
**/[Bb]ak/
**/*.bak
**/*temp
**/*tmp
**/.waka*

### Repo Specific ###
**/idea.md

### Security ###
**/*[Tt]oken*
**/*[Pp]rivate*
**/*[Ss]ecret*
*history*
*hst*

############################################

